body{
    background-color: #012352fd;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
h1,h2{
    font-weight: bold;
}
h1{
    text-transform: uppercase;
    display: inline-block;
    background-color: #ff6bf6ff;
    font-size: 2rem;
    line-height: 1.5rem;
    position: absolute;
    left: -1rem;
    top: -1rem;
}
.secao{
    box-sizing:  border-box;
    background-color: #3860fbff;
    margin: 2rem;
    padding: 1rem;
    position: relative;
}
