body{
    background-color: #012352fd;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
h1,h2{
    font-weight: bold;
}
h1{
    text-transform: uppercase;
    display: inline-block;
    background-color: #ff6bf6ff;
    font-size: 2rem;
    line-height: 1.5rem;
    position: absolute;
    left: -1rem;
    top: -1rem;
}
.section{
    box-sizing:  border-box;
    background-color: #3860fbff;
    margin: 2rem;
    padding: 1rem;
    position: relative;
}

.learning-block__title{
    color: #012352fd;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.section-what-i-like{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section-what-i-like__column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
