@use "./scss/tags/body";
@use "./scss/tags/a";
@use "./scss/tags/headings";
@use "./scss/blocks/page";
@use "./scss/blocks/photo";
@use "./scss/blocks/project";
@use "./scss/blocks/section";
@use "./scss/blocks/table";
@use "./scss/blocks/text-block";
@use "./scss/blocks/title";
@use "./scss/utils/colors";

* {
    scrollbar-color: colors.$purple transparent;
}

*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: colors.$purple;
}