@use "../utils/media-queries";

.page {
    display: flex;
    flex-direction: column;
    
    @media (min-aspect-ratio: media-queries.$min-aspect) {
        height: 100%;
        overflow-x: scroll;
        flex-direction: row;
    }
    
    &__section {
        margin: 0 auto 15vh;
        @media (min-aspect-ratio: media-queries.$min-aspect) {
            margin: unset;
            margin-right: 15vw;
        }
    }

    &__section-contact {
        margin-bottom: 0;
    }
}