@use "../utils/colors";
@use "../utils/border-props";
@use "../utils/media-queries";

.section {
    $padding-left-section: 5vw;
    $padding-top: 7.5vh;
    width: 90vw;
    @media (min-aspect-ratio: media-queries.$min-aspect) {
        padding-top: $padding-top;
        min-width: 100vw;
    }
    &__line {
        @include border-props.border(none);
        @include border-props.border(top);
        width: 60vw;
        transform: translate(-$padding-left-section, -5vh);
        transform-origin: left;
        margin: 0;

        @media (min-aspect-ratio: media-queries.$min-aspect) {
            transform: 
                rotate(90deg)
                translate($padding-top * -1.05, 10vw);
            width: 50vh;
        }
            
    }

    &__title {
        padding-bottom: .5em;
    }

    @media (min-aspect-ratio: media-queries.$min-aspect) {
        &__main {
            margin-left: 10%;
        }
    }
}

.section-contact {
    position: relative;
    background-color: colors.$dark;
    color: colors.$light;
    width: 100%;
    height: 100%;
    padding: 5vh 0 20vh 10vw;
    @media (min-aspect-ratio: media-queries.$min-aspect) {
        padding-top: 7.5vh;
        padding-bottom: 0;
        min-width: 75%;
    }
    &__content {
        line-height: 2;
    }
    
    &__data {
        font-weight: 500;
        padding-left: 5%;
    }
    
    &__developedby {
        font-size: .7em;
        text-transform: lowercase;
        position: absolute;
        $space: 5vh;
        right: $space;
        bottom: $space;
        @media (min-aspect-ratio: media-queries.$min-aspect) {
            bottom: initial;
            top: $space;
        }
    }
}

.section-about-me {
    position: relative;

    &__text-block {
        max-width: 85%;
        @media (min-aspect-ratio: media-queries.$min-aspect) {
            max-width: 40%;
        }
    }

    &__photo {
        width: 85%;
        margin: 1.5em auto;
        @media (min-aspect-ratio: media-queries.$min-aspect) {
            width: initial;
            margin: 0;
            position: absolute;
            top: -#{border-props.$border-width};
            left: 55%;
            height: 60%;
        }
    }
}

.section-title {
    @media (min-aspect-ratio: media-queries.$min-aspect) {
        min-width: 60vw;
    }

    &__title {
        margin: auto;
        margin-top: 5vh; 
        @media (min-aspect-ratio: media-queries.$min-aspect) {
            margin: unset;
            margin-left: 5vw;
        }
    }
}

.section-projects {
    @media (min-aspect-ratio: media-queries.$min-aspect) {
        min-width: 65vw;
    }
}