@use "../utils/colors";
@use "../utils/media-queries";
@use "../utils/border-props";
@use "sass:list";

.table {
    width: 98%;
    font-size: 1.2em;

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        @include border-props.border(bottom);

        &--head {
            @include border-props.border(none);
        }
    }

    &__cell {
        padding: 1em;
    }

    $percents: 35% 15% 30% 20%;
    @for $i from 1 through 4 {
        //Properties for all columns and column headers

        &__col-#{$i} {
            @media (min-aspect-ratio: media-queries.$min-aspect) {
                width: list.nth($percents, $i)
            }
        }
        
        &__col-#{$i}--header {
            display: none;

            @media (min-aspect-ratio: media-queries.$min-aspect) {
                display: initial;
                position: relative;
                height: 3em;
            }
            
            & span {
                position: absolute;
                left: 0;
                padding: 1em;
                @include border-props.border;
            }
        }
    }

    &__col-4 {
        text-align: end;

        &--header span{
            left: initial;
            right: 0;
        }
    }
}